.menu{
    background-color: #ffffff ;
}
.fill-space {
    flex: 1 1 auto;
  }

.ic{
    color: #898886;
}

.example-container{
    height: 1000px;
    border: 1px solid #555;
}
.example{
    background-color: #898886;
}