<div>
<mat-toolbar class="menu">
    <h3>Smart Ventes</h3>
   
    
    <span id="btn">
      
    </span>
  
    <span class="fill-space"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button  mat-menu-item  [routerLink]="['produit']">Gérer Produit</button>

      <button  mat-menu-item [routerLink]="['listFr']">Gérer Fournisseur</button>

     
    </mat-menu>
    
    <button mat-button routerLink="/">
            <mat-icon class="ic">setting</mat-icon>
    </button>
    <button mat-button routerLink="/home">
      <mat-icon class="ic">notifications</mat-icon>
  </button>
  </mat-toolbar>
  

<mat-sidenav-container  class="example-container">
    <mat-sidenav opened mode="side"  class="example">
        <mat-nav-list  class="list-horizontal">
            <mat-list-item>
                <a [routerLink]="['/produit']"> Acceuil </a>
              </mat-list-item>
              <mat-list-item>
                <a [routerLink]="['/produit']">Gestion Produit</a>
              </mat-list-item>
              <mat-list-item>
                <a [routerLink]="['/listFr']">Gestion Fournisseur</a>
              </mat-list-item>
        
        </mat-nav-list> 
    </mat-sidenav>
    <div class="h ">
      <router-outlet></router-outlet>
    </div>
    
  </mat-sidenav-container>
  
    </div>
